html {
    box-sizing: border-box;
  }
body{
    background-color: cream;
}
.container-fluid{
    color:white;
}
h2{
    text-align: center;
    color:white ;
}
.card{
    background-color:#40d1c0 ;
    margin: 0.5em;
}
.team-heading{
    background-color: #40d1c0;
}
i{
    color:blue;
}
li{
    font-style: italic;
}
h3{
    text-align: center;
    color:black;
}